@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sanchez{
    font-family: 'Sanchez', serif;
}
.poppins{
    font-family: 'poppins' , sans-serif;
}
.belle{font-family: 'La Belle Aurore', cursive;}
.lato{font-family: 'Lato', sans-serif;}
.oswald{font-family: "Oswald", sans-serif;}
  
.bg-gradient{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 89%);

}
.bg-girl{
    background-image: url('./assets/girl.png');
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100%;
}
.custom-rounded{
    border-radius: 6px 6px 0px 0px;
}

.bg-custom{
background-image: url('./assets/bg.jpeg');
}
.para-about-us{
color: #1E1E1E;
 padding-top: 10px;

}
.heading-about-us{
    color: black;
    text-decoration:underline;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
}